@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}
body {
    background: linear-gradient(45deg, #5498E8,#6987FF,#5D54E8);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    font-family: roboto, sans-serif;
}
#menu {
    display: none;
}
label[for="menu"] {
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    float: right;
    display: none;
    color: #ccc;
}
header {
    max-width: 100vw;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.1);
}
.menu-principal {
    max-width: 500px;
    font-size: 1.4em;
    margin: auto;
}
.menu-principal ul {
    list-style: none;
}
.menu-principal li {
    display: inline-block;
    margin: 20px 30px;
}
.menu-principal a {
    text-decoration: none;
    color: #ccc;
    font-weight: 700;
}
img {
    max-width: 20vw;
    float: right;
    margin: 20px;
}
.container {
    margin: 20px 20px 20px 50px;
    max-width: 100vw;
}
.container h1 {
    font-size: 3em;
}
.container h2 {
    margin-top: 20px;
}
.steps h3 {
    font-size: 2em;
    margin-top: 30px;
    text-align: center;
    color: #784bd3;
}
hr {
    margin-top: 30px;
    background-color: #935CFF;
}
.steps-field {
    font-size: 1.4em;
    max-width: 50vw;
    margin: auto;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}
.steps-field i {
    margin-top: 30px;
    margin-bottom: 15px;
}
.steps-field i:first-child {
    margin-top: 0px;
}
footer {
    width: 100%;
    background-color: #ccc;
    margin-top: 10px;
}
footer h4 {
    font-size: 1.2em;
    padding-top: 20px;
    text-align: center;
    color: rgb(20, 20, 77);
}
footer ul {
    list-style: none;
    margin-top: 20px;
    text-align: center;
}
footer a {
    text-decoration: none;
    color: #784bd3;
    font-weight: 700;
}
.social-field li {
    display: inline-block;
    padding: 10px;
}
.social-field i {
    font-size: 22px;
}
footer .copyright {
    text-align: center;
    margin-top: 20px;
    color: rgb(20, 20, 77);
    padding-bottom: 20px;
}
@media screen and (max-width: 600px) {
    header {
        background: none;
    }
    label[for="menu"] {
        display: block;
        padding-right: 10px;
        font-size: 2.6rem;
    }
    .menu-principal {
        margin-left: -50%;
        transition: all .4s;
        max-width: 100vw;
    }
    #menu:checked~ .menu-principal {
        margin-left: 0;
        background-color: rgba(0, 0, 0, 0.1);
    }
    .menu-principal ul li{
        width: 50vw;
        float: none;
    }
    .container {
        margin-top: 180px;
        font-size: 0.6rem;
    }
    .steps-field {
        font-size: 1rem;
    }
    footer .copyright {
        font-size: 1rem;
    }
}
