@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}
body {
    background: linear-gradient(45deg, #829FD9,#5C73F2,#3E38F2);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    font-family: roboto, sans-serif;
}
header {
    width: 100%;
    height: 70px;
    background-color: #829FD9;
    position: relative;
}
.menu-principal {
    max-width: 500px;
    font-size: 1.4em;
    margin: auto;
    width: 100%;
    background-color: #829FD9;
}
.menu-principal ul {
    list-style: none;
}
.menu-principal li {
    display: inline-block;
    margin: auto;
    padding: 20px 45px;
}
.menu-principal a {
    text-decoration: none;
    color:  rgb(20, 20, 77);
    font-weight: 700;
}
.contact {
    max-width: 400px;
    color: rgba(0, 0, 0, 0.6);
    position: flex;
    margin: auto;
    padding: 30px;
}
form input {
    margin-top: 1.2rem;
    outline: none; 
}
.input-field {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    outline: none;
}
.contact span {
    margin-top: 10px;
}
.input-field input {
    padding: 20px;
    border-radius: 10px;
    border-color: white;
}
.input-field input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}
form input[type="checkbox"] {
    font-size: 0.6rem;
}
form input[type="submit"] {
    background-color: #5C73F2;
    border-color: #5C73F2;
    font-weight: 700;
    cursor: pointer;
    border-radius: 50px;
    max-width: 400px;
    max-height: 100px;
    margin: auto;
}

@media screen and (max-width: 600px) {
    header {
        background: none;
    }
    .menu-principal {
        background-color: #829FD9;
        margin-left: 0;
        transition: all .5s;
        font-size: 1em;
        max-width: 800px; 
    }
    .menu-principal li {
        border-bottom: solid 1px #0003;
        display: block;
    }
    .contact {
        margin-top: 110px;
        max-width: 300px;
    }
    form input[type="submit"] {
        margin-top: 20px;
    }
}
